---
import Container from '@/components/ui/Container.astro';
import Section from '@/components/ui/Section.astro';
import { LeadForm } from './LeadForm';
---
<Section id="blk-09">
  <Container>
    <LeadForm client:load />
  </Container>
</Section>
